<div class="formArea">
	<form onsubmit="return true">
		<label for="phrase"></label>
		<input type="text" name="phrase" id="phrase">
		<input type="button" onclick="submitted()" value="Check!">
	</form>
</div>
<div class="attemptArea">
	<ol id="attempts">
	</ol>
</div>
